[View in Colaboratory](https://colab.research.google.com/github/shinchan75034/LSTM_TouchPoint/blob/master/EDLSTM_BBQ.ipynb)

In [0]:
from __future__ import absolute_import, division, print_function

import os
import matplotlib.pyplot as plt

In [0]:
project_id = 'project1-190517'
from google.colab import auth
auth.authenticate_user()

In [5]:
%%bigquery --project $project_id df
select * from small_train.small_train_data limit 10;

  row_id input_events output_events
0  59341           CW            CW
1  56739           CW            CW
2  14637           CW            CW
3  55740           CW            CW
4  28810           CW            CW
5  43692           CW            CW
6  52035           CW            CW
7  40611           CW            CW
8  69937           CW            CW
9  81942           CW            CW

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from pandas.io import gbq

In [11]:
rawDataQuery="""
select * from small_train.small_train_data order by row_id DESC
"""

rawData = gbq.read_gbq(query=rawDataQuery,dialect ='standard', project_id=project_id)
rawData.head()

  row_id            input_events                         output_events
0   9999  NBC Discovery Freeform  TNT ComedyCentral NationalGeographic
1   9997                 NBC AMC                               CBS FXX
2   9994            Discovery FX                        USANetwork TNT
3   9993      CBS FoxSports1 FOX                         ABC NBC visit
4   9992             History A&E            AnimalPlanet TLC Discovery